@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf")
    format("opentype");
}

/* * {
  border: 1px solid aliceblue;
} */

.landing-page {
  height: auto;
}
